<div style="text-align: center; margin-bottom: 30px">
  <a href="/">Home</a>
  <a href="/users">User</a>
  <a href="/features/add">Add Feature</a>
  <a href="/features/closed">Closed Features</a>
</div>